checkpoints/default/checkpoint*
checkpoints/binfeat/checkpoint*
checkpoints/contfeat/checkpoint*
__pycache__
writing/*.log
writing/*.synctex.gz
writing/*.fls
writing/.*fdb_latexmk
writing/*.blg
writing/*.aux
writing/*.bbl
